.jumbotron {
  padding-top: 6rem;
  background-color: #d6fffc;
}

#products {
  background-color: #d6fffc;
}

.footer {
  background-color: #00B4B4;
}

section {
  padding-top: 5rem;
}

.card-img-top {
  background-color: greenyellow;
}